:host {
    overflow: scroll;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.card {
    width: 778px;
    height: 846px;
    margin-top: 14%;
    margin-bottom: 1%;
}

.card-title{
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.btn-primary {
    background-color: #588157;
    border-color: #588157;
    width: 69;
    height: 24;
}

.custom-link {
    color: black;
    text-decoration: underline;
  }
  
.custom-link:hover {
    color: blue;
  }

.list-group{
    margin: 15px 0px 30px 0px;
  }